[submodule "tools/closure_compiler"]
	path = tools/closure_compiler
	url = https://github.com/google/closure-compiler.git
[submodule "tools/node.js_closure_compiler_externs"]
	path = tools/node.js_closure_compiler_externs
	url = https://github.com/dcodeIO/node.js-closure-compiler-externs.git
